<!DOCTYPE html>
<html lang="nb-no">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ block "title" . }}{{ .Title }} – Flytsonen{{ end }}</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <header class="site-header">
    <div class="site-header-inner">
      <div class="logo">
        <a href="/">
          <img src="/logo.svg" alt="flytsonen-logo">
        </a>
      </div>

      <nav class="main-nav">
        <a href="/arkiv/">Arkiv</a>
      </nav>
    </div>
  </header>

  <main class="page">
  {{ block "main" . }}{{ end }}
  </main>


  <footer class="site-footer">
    <p>© 2009 Flytsonen</p>
  </footer>
</body>

</html>
